.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.snap-img {
  max-width: 80%;
  max-height: 70%;
}

.color-sq {
  width: 20px;
  height: 20px;
}

.color-cont {
  display: flex;
  flex-direction: row;
}